/* Color Variables */
:root {
  --primary-color: #e5e5e5;
  --secondary-color: #777;
}

/* Space out content a bit */
body {
  padding: 0;
  margin: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding: 0 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--primary-color);
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding: 1.25rem 0 1.5rem 0;
  text-align: center;
}

/* Custom page footer */
.footer {
  padding-top: 1rem;
  color: var(--secondary-color);
  border-top: 1px solid var(--primary-color);
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
.container-narrow > hr {
  margin: 1.875rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 3.2rem;
  margin-top: 3.2rem;
}
.jumbotron .btn {
  padding: 1.2rem 2.4rem;
  font-size: 2rem;
  margin-top: 1.4rem;
}

.jumbotron h2 {
  padding-bottom: 3rem;
  font-size: 2.6rem;
  font-weight: normal;
}

label {
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/
/*------------------------------ Media Queries -------------------------------*/
/*----------------------------------------------------------------------------*/
/* Supporting marketing content */
.marketing {
  margin: 2.5rem 0;
}

.well {
  margin-top: 0.7rem;
}

.well h3 {
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
}

.btn-success {
  margin-left: 0.75rem;
}

/* Customize footer */
.footer p {
  text-align: center;
}

/*----------------------------------------------------------------------------*/
/*------------------------------ Media Queries -------------------------------*/
/*----------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1.875rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
